In [40]:
# Connect the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
# Read CSV as pandas data frame
import pandas as pd
df1=pd.read_csv('/content/drive/MyDrive/CompAndViz/Education.csv')
df2=pd.read_csv('/content/drive/MyDrive/CompAndViz/Housing.csv')
df3=pd.read_csv('/content/drive/MyDrive/CompAndViz/Population.csv')
df4=pd.read_csv('/content/drive/MyDrive/CompAndViz/Poverty.csv')
df5=pd.read_csv('/content/drive/MyDrive/CompAndViz/Median income.csv')

In [43]:
df1.rename(columns={'aphic Area Name': 'Zip code'}, inplace=True)
df2.rename(columns={'aphic Area Name': 'Zip code'}, inplace=True)
df3.rename(columns={'aphic Area Name': 'Zip code'}, inplace=True)
df4.rename(columns={'aphic Area Name': 'Zip code'}, inplace=True)
df5.rename(columns={'aphic Area Name': 'Zip code'}, inplace=True)

In [44]:
df1

   Geographic Area Name  Zip code  Graduate or professional school
0           ZCTA5 94102     94102                              918
1           ZCTA5 94103     94103                              816
2           ZCTA5 94104     94104                                0
3           ZCTA5 94105     94105                              389
4           ZCTA5 94107     94107                              683
5           ZCTA5 94108     94108                              281
6           ZCTA5 94109     94109                             1696
7           ZCTA5 94110     94110                             1736
8           ZCTA5 94111     94111                               77
9           ZCTA5 94112     94112                             1533
10          ZCTA5 94114     94114                              501
11          ZCTA5 94115     94115                              868
12          ZCTA5 94116     94116                              799
13          ZCTA5 94117     94117                             1447
14          ZCTA5 94118     94118                              860
15          ZCTA5 94121     94121                              809
16          ZCTA5 94122     94122                             2070
17          ZCTA5 94123     94123                              409
18          ZCTA5 94124     94124                              481
19          ZCTA5 94127     94127                              485
20          ZCTA5 94129     94129                              227
21          ZCTA5 94130     94130                               23
22          ZCTA5 94131     94131                              694
23          ZCTA5 94132     94132                              866
24          ZCTA5 94133     94133                              571
25          ZCTA5 94134     94134                              522
26          ZCTA5 94158     94158                              698
27          ZCTA5 94188     94188                                0
28          ZCTA5 94501     94501                             1469
29          ZCTA5 94920     94920                              131

In [45]:
df1 = df1.drop(columns=['Geographic Area Name'])
df2 = df2.drop(columns=['Geographic Area Name'])
df3 = df3.drop(columns=['Geographic Area Name'])
df4 = df4.drop(columns=['Geographic Area Name'])
df5 = df5.drop(columns=['Geographic Area Name'])

In [46]:
merged_df = df1.merge(df2, on='Zip code') \
                .merge(df3, on='Zip code')\
                .merge(df4, on='Zip code')\
                .merge(df5, on='Zip code')

print(merged_df)

    Zip code  Graduate or professional school  Median House value (dollars)  \
0      94102                              918                       1039000
1      94103                              816                       1065100
2      94104                                0                    2,000,000+
3      94105                              389                       1455500
4      94107                              683                       1284700
5      94108                              281                       1295700
6      94109                             1696                       1364200
7      94110                             1736                       1446800
8      94111                               77                       1233700
9      94112                             1533                       1144800
10     94114                              501                       1658200
11     94115                              868                       1709100
12     94116                              799                       1368100
13     94117                             1447                       1571000
14     94118                              860                       1755100
15     94121                              809                       1583700
16     94122                             2070                       1446400
17     94123                              409                    2,000,000+
18     94124                              481                       1004000
19     94127                              485                       1773800
20     94129                              227                       1446400
21     94130                               23                       1446400
22     94131                              694                       1628900
23     94132                              866                       1373800
24     94133                              571                       1472600
25     94134                              522                       1027600
26     94158                              698                       1506900
27     94188                                0                       1008100
28     94501                             1469                       1148400
29     94920                              131                    2,000,000+

    Population  Population for whom poverty status is determined  \
0        34077                                             33479
1        32400                                             32064
2          557                                               557
3        13722                                             13597
4        30340                                             29952
5        12070                                             11931
6        56333                                             55359
7        69679                                             69124
8         4468                                              4468
9        80880                                             79744
10       33858                                             33776
11       33299                                             32899
12       43903                                             43659
13       39496                                             38880
14       40108                                             38088
15       43304                                             43058
16       59453                                             58697
17       24721                                             24644
18       37347                                             37214
19       21184                                             20195
20        3952                                              3951
21        3136                                              3032
22       28705                                             28322
23       27641                                             25503
24       25460                                             25460
25       40738                                             40382
26       10205                                              9853
27           0                                                 0
28       63340                                             62197
29       12906                                             12838

     Median family income (4ppl)
0                            716
1                            594
2                              9
3                             78
4                            759
5                            311
6                            691
7                           2716
8                            105
9                           4059
10                          1088
11                           860
12                          2377
13                           930
14                          1507
15                          2020
16                          2574
17                           614
18                          1549
19                          1245
20                           178
21                            38
22                          1393
23                          1037
24                           686
25                          1697
26                           491
27                             0
28                          3023
29                           737

In [47]:
merged_df

,Zip code,Graduate or professional school,Median House value (dollars),Population,Population for whom poverty status is determined,Median family income (4ppl)
0,94102,918,1039000,34077,33479,716
1,94103,816,1065100,32400,32064,594
2,94104,0,"2,000,000+",557,557,9
3,94105,389,1455500,13722,13597,78
4,94107,683,1284700,30340,29952,759
5,94108,281,1295700,12070,11931,311
6,94109,1696,1364200,56333,55359,691
7,94110,1736,1446800,69679,69124,2716
8,94111,77,1233700,4468,4468,105
9,94112,1533,1144800,80880,79744,4059
10,94114,501,1658200,33858,33776,1088
11,94115,868,1709100,33299,32899,860
12,94116,799,1368100,43903,43659,2377
13,94117,1447,1571000,39496,38880,930
14,94118,860,1755100,40108,38088,1507
15,94121,809,1583700,43304,43058,2020
16,94122,2070,1446400,59453,58697,2574
17,94123,409,"2,000,000+",24721,24644,614
18,94124,481,1004000,37347,37214,1549
19,94127,485,1773800,21184,20195,1245
20,94129,227,1446400,3952,3951,178
21,94130,23,1446400,3136,3032,38
22,94131,694,1628900,28705,28322,1393
23,94132,866,1373800,27641,25503,1037
24,94133,571,1472600,25460,25460,686
25,94134,522,1027600,40738,40382,1697
26,94158,698,1506900,10205,9853,491
27,94188,0,1008100,0,0,0
28,94501,1469,1148400,63340,62197,3023
29,94920,131,"2,000,000+",12906,12838,737

In [48]:
merged_df[' Median House value (dollars)'] = merged_df[' Median House value (dollars)'].replace(r'\+$', '', regex=True)

In [49]:
merged_df

,Zip code,Graduate or professional school,Median House value (dollars),Population,Population for whom poverty status is determined,Median family income (4ppl)
0,94102,918,1039000,34077,33479,716
1,94103,816,1065100,32400,32064,594
2,94104,0,"2,000,000",557,557,9
3,94105,389,1455500,13722,13597,78
4,94107,683,1284700,30340,29952,759
5,94108,281,1295700,12070,11931,311
6,94109,1696,1364200,56333,55359,691
7,94110,1736,1446800,69679,69124,2716
8,94111,77,1233700,4468,4468,105
9,94112,1533,1144800,80880,79744,4059
10,94114,501,1658200,33858,33776,1088
11,94115,868,1709100,33299,32899,860
12,94116,799,1368100,43903,43659,2377
13,94117,1447,1571000,39496,38880,930
14,94118,860,1755100,40108,38088,1507
15,94121,809,1583700,43304,43058,2020
16,94122,2070,1446400,59453,58697,2574
17,94123,409,"2,000,000",24721,24644,614
18,94124,481,1004000,37347,37214,1549
19,94127,485,1773800,21184,20195,1245
20,94129,227,1446400,3952,3951,178
21,94130,23,1446400,3136,3032,38
22,94131,694,1628900,28705,28322,1393
23,94132,866,1373800,27641,25503,1037
24,94133,571,1472600,25460,25460,686
25,94134,522,1027600,40738,40382,1697
26,94158,698,1506900,10205,9853,491
27,94188,0,1008100,0,0,0
28,94501,1469,1148400,63340,62197,3023
29,94920,131,"2,000,000",12906,12838,737

In [50]:
merged_df[' Median House value (dollars)'] = merged_df[' Median House value (dollars)'].replace({',': ''}, regex=True).astype(int)

In [51]:
merged_df.dtypes

Zip code                                            int64
Graduate or professional school                     int64
 Median House value (dollars)                       int64
Population                                          int64
Population for whom poverty status is determined    int64
 Median family income (4ppl)                        int64
dtype: object

In [52]:
print(merged_df.columns)

Index(['Zip code', 'Graduate or professional school',
       ' Median House value (dollars)', 'Population',
       'Population for whom poverty status is determined',
       ' Median family income (4ppl)'],
      dtype='object')

In [53]:
# Normalize the columns
merged_df['Education_norm'] = (merged_df["Graduate or professional school"] - merged_df["Graduate or professional school"].min()) / (merged_df["Graduate or professional school"].max() - merged_df["Graduate or professional school"].min())
merged_df['Population_norm'] = (merged_df['Population'] - merged_df['Population'].min()) / (merged_df['Population'].max() - merged_df['Population'].min())
merged_df['Poverty_norm'] = (merged_df['Population for whom poverty status is determined'] - merged_df['Population for whom poverty status is determined'].min()) / (merged_df['Population for whom poverty status is determined'].max() - merged_df['Population for whom poverty status is determined'].min())
merged_df['Income_norm'] = (merged_df[' Median family income (4ppl)'] - merged_df[' Median family income (4ppl)'].min()) / (merged_df[' Median family income (4ppl)'].max() - merged_df[' Median family income (4ppl)'].min())
merged_df['Housing_norm'] = (merged_df[' Median House value (dollars)'] - merged_df[' Median House value (dollars)'].min()) / (merged_df[' Median House value (dollars)'].max() - merged_df[' Median House value (dollars)'].min())

# Adjust Poverty_norm for negative correlation (higher poverty -> lower score)
merged_df['Poverty_norm'] = 1 - merged_df['Poverty_norm']

# Assign weights
weights = {
    'Education_norm': 0.3,   # Weight for education level
    'Population_norm': 0.25,   # Weight for population
    'Poverty_norm': 0.2,      # Weight for poverty
    'Income_norm': 0.2,       # Weight for income
    'Housing_norm': 0.15      # Weight for housing value
}

# Calculate the composite score
merged_df['Score'] = (
    merged_df['Education_norm'] * weights['Education_norm'] +
    merged_df['Population_norm'] * weights['Population_norm'] +
    merged_df['Poverty_norm'] * weights['Poverty_norm'] +
    merged_df['Income_norm'] * weights['Income_norm'] +
    merged_df['Housing_norm'] * weights['Housing_norm']
)

# Rank the zip codes based on the score
merged_df['Rank'] = merged_df['Score'].rank(ascending=False).astype(int)

new_df = merged_df[['Zip code', "Graduate or professional school", 'Population', 'Population for whom poverty status is determined', ' Median family income (4ppl)', ' Median House value (dollars)', 'Score', 'Rank']]

# Display the updated DataFrame
print(merged_df[['Zip code', 'Score', 'Rank']])

    Zip code     Score  Rank
0      94102  0.394960    20
1      94103  0.376462    22
2      94104  0.350768    24
3      94105  0.336530    25
4      94107  0.397319    19
5      94108  0.307364    27
6      94109  0.569375     5
7      94110  0.694120     2
8      94111  0.253531    29
9      94112  0.693379     3
10     94114  0.444686    15
11     94115  0.494777    10
12     94116  0.513960     9
13     94117  0.565496     6
14     94118  0.540458     7
15     94121  0.529945     8
16     94122  0.730011     1
17     94123  0.454134    13
18     94124  0.368140    23
19     94127  0.462399    12
20     94129  0.310602    26
21     94130  0.273921    28
22     94131  0.481024    11
23     94132  0.453772    14
24     94133  0.401970    18
25     94134  0.387465    21
26     94158  0.407923    17
27     94188  0.200617    30
28     94501  0.623391     4
29     94920  0.412994    16

In [54]:
new_df

,Zip code,Graduate or professional school,Population,Population for whom poverty status is determined,Median family income (4ppl),Median House value (dollars),Score,Rank
0,94102,918,34077,33479,716,1039000,0.394960,20
1,94103,816,32400,32064,594,1065100,0.376462,22
2,94104,0,557,557,9,2000000,0.350768,24
3,94105,389,13722,13597,78,1455500,0.336530,25
4,94107,683,30340,29952,759,1284700,0.397319,19
5,94108,281,12070,11931,311,1295700,0.307364,27
6,94109,1696,56333,55359,691,1364200,0.569375,5
7,94110,1736,69679,69124,2716,1446800,0.694120,2
8,94111,77,4468,4468,105,1233700,0.253531,29
9,94112,1533,80880,79744,4059,1144800,0.693379,3
10,94114,501,33858,33776,1088,1658200,0.444686,15
11,94115,868,33299,32899,860,1709100,0.494777,10
12,94116,799,43903,43659,2377,1368100,0.513960,9
13,94117,1447,39496,38880,930,1571000,0.565496,6
14,94118,860,40108,38088,1507,1755100,0.540458,7
15,94121,809,43304,43058,2020,1583700,0.529945,8
16,94122,2070,59453,58697,2574,1446400,0.730011,1
17,94123,409,24721,24644,614,2000000,0.454134,13
18,94124,481,37347,37214,1549,1004000,0.368140,23
19,94127,485,21184,20195,1245,1773800,0.462399,12
20,94129,227,3952,3951,178,1446400,0.310602,26
21,94130,23,3136,3032,38,1446400,0.273921,28
22,94131,694,28705,28322,1393,1628900,0.481024,11
23,94132,866,27641,25503,1037,1373800,0.453772,14
24,94133,571,25460,25460,686,1472600,0.401970,18
25,94134,522,40738,40382,1697,1027600,0.387465,21
26,94158,698,10205,9853,491,1506900,0.407923,17
27,94188,0,0,0,0,1008100,0.200617,30
28,94501,1469,63340,62197,3023,1148400,0.623391,4
29,94920,131,12906,12838,737,2000000,0.412994,16

In [55]:
new_df.to_csv('Zipcode.csv')